@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Righteous&display=swap");

@font-face {
  font-family: "Mona Sans";
  src: url("assets/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("assets/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 300, 700;
  font-stretch: 100%;
}

:root {
  color-scheme: dark;

  --primary: rgb(151, 136, 166);
  --black: #0d1117;
  --gray: #30363d;
  --light: white;

  --h1-size: 1.5rem;
  --p-size: 1.1rem;

  --blur: blur(20px);
  --shadow: 0 0 30px black;

  --radius: 1rem;

  --inner-radius: 0.4rem;
}

.add-shadow {
  box-shadow: var(--shadow);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Comfortaa";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(assets/img/crtiica-1000.png);
  background-size: 20px;
  background-repeat: repeat;
  color: var(--light);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding: 120px 50px 0px 50px;
  background-color: var(--black);
  box-shadow: var(--shadow);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-size: 1.5em;
}

p {
  font-size: 0.9rem;
  font-family: "Mona Sans", "Comfortaa";
  font-weight: 300;
  line-height: 150%;
}

strong {
  font-family: "Mona Sans";
  font-weight: 600;
}
/* --- End of Protfolio Styles --- */

/* --- MyTechStack --- */

.chapter {
  display: flex;
  justify-content: center;
  padding: 30px;
}

#techstack {
  scroll-margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 2px solid var(--gray);
}

.tab-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 180px 180px 180px;
  justify-content: center;
  transition: all 0.4s ease;
}

.tabs {
  display: grid;
  grid-template-rows: 150px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--gray);
  border-radius: var(--radius);
  transition: all 0.4s ease;
}

.tabs:hover {
  background: var(--primary);
  color: var(--light);
  transition: 0.4s;
}

#techstack .textbubble ul li {
  font-family: "Mona Sans", "Comfortaa";
  line-height: 150%;
  font-size: 0.9rem;
  font-weight: 300;
}

/* --- MyTechStack View Transition Animations --- */

@view-transition-group {
  transition: all 0.3s ease;
}

.popup-tab {
  @view-transition-name: "fade-in" , "fade-out";
  display: none;
  align-content: space-between;
  min-height: 150px;
  color: var(--light);
  padding: 20px;

  border: 2px solid var(--gray);
  border-radius: var(--radius);
  cursor: pointer;
}

.popup-tab[open] {
  display: grid;
}

#b1,
#b2,
#b3 {
  grid-area: 1 / 4 / 1 / 1;
}

#b4,
#b5,
#b6 {
  grid-area: 2 / 4 / 2 / 1;
}

#b7,
#b8,
#b9 {
  grid-area: 3 / 4 / 3 / 1;
}

#b10,
#b11,
#b12 {
  grid-area: 4 / 4 / 4 / 1;
}

/* --- End of MyTechStack --- */

/* 




*/

/* ---- Responsivenes ---- */

@media (max-width: 880px) {
  /* MyTackStack Responsivenes*/

  #b1,
  #b2 {
    grid-area: 1 / 3 / 1 / 1;
  }

  #b3 {
    grid-area: 2 / 3 / 2 / 1;
  }

  #b4 {
    grid-area: 2 / 3 / 2 / 1;
  }

  #b5,
  #b6 {
    grid-area: 3 / 3 / 3 / 1;
  }

  #b7,
  #b8 {
    grid-area: 4 / 3 / 4 / 1;
  }

  #b9 {
    grid-area: 5 / 3 / 5 / 1;
  }

  #b10 {
    grid-area: 5 / 3 / 5 / 1;
  }
  #b11,
  #b12 {
    grid-area: 6 / 3 / 6 / 1;
  }

  #techstack {
    min-height: 1050px;
  }

  .tab-wrapper {
    grid-template-columns: 180px 180px;
  }
}

@media (max-width: 410px) {
  /* --- MyTackStack --- */

  #techstack {
    min-height: 1050px;
  }

  .tab-wrapper {
    grid-template-columns: 140px 140px;
  }

  .tabs {
    grid-template-rows: 110px;
  }
}
